@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.nav__bg {
  background-color: hsl(0 0% 100% / 0.4);
}

.container__gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .container__gird {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". ."
      "g g";
  }
}
@media only screen and (max-width: 700px) {
  .g {
    grid-area: g;
  }
}
